body{
    height: 100vh;
    display:grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
grid-template-rows: repeat(25,minmax(5%,1fr));
}

.header{
    height: 50%;
    margin-bottom: 40px;
    grid-row: 1/ 9;
    grid-column: 2/-1;
    background: green;
    display: grid;
    grid-template-columns:repeat(13,minmax(10px,1fr));
    grid-template-rows:repeat(5,minmax(10%,1fr)); ;
    grid-template-areas: "search bar bar bar bar bar bar bar bell bell snap snap";
                        
}
input{
    width: 99%;
    height:26px
}
.morgan{
    margin-top:20px;
}
.search{
    text-align: center;
   align-self: center;
        grid-column: 1/2;
    grid-row: 1/3;
}
.search img{
    margin-top: 13px;
    height: 1rem;
}
.bell{
   grid-column: 11/12;
   margin-right: 10px;
   width:min-content;
}
.bell img{
    margin-top: 20px;
    width:2rem;
    height: 30px;
}

.bar{
    margin-top:4%;
    grid-area: bar;
    background: grey;
    height:2rem;
   
}
.snap{
margin-right:10px ;
    grid-column: 13/14 ;
    width:max-content;
}

.new{
    grid-row: 4;
   grid-column: 10/9; 
   background:#D2691E;
    border-radius: 5px;
    align-self: center;
    text-align: center;
}
.upload{
    width:auto;
    background:#D2691E;
    border-radius: 5px;
    align-self: center;
    text-align: center;
    grid-row: 4;
    grid-column: 11; 
}

.share{
    width:auto;
    background:#D2691E;
    border-radius: 5px;
    align-self: center;
    text-align: center;
    grid-row: 4;
    grid-column: 13/14; 
    margin-right: 10px;
}

.snap img{
    width:2rem;
    height: 30px;
    margin-top: 20px;
}

.snap2{
    grid-row: 4;
    grid-column:1/2 ;
    margin-bottom: 10px;
}

.morg2{
    margin-top: 10px;
    grid-row: 4;
    grid-column:2/4 ;
}





.sidebar{
    grid-column: 1;
    grid-row:1/-1;
    background-color: red;
    display: flex;
    flex-direction: column;
  align-items: center;
 

 
}

.links1{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
   gap: 20px;
   align-items: center;

}

.links2{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
  gap :20px;
}
.sidebar  img{
    width: 1rem;
    height: 100%;
}


.cx{
    grid-row:5;
    grid-column: 2;
    margin-left: 58%;
    align-self: center;
}
.anounce{
    grid-row:5;
    grid-column: 6;
    align-self: center;
}

nav a{
    text-decoration: none;
    color:wheat;
}
 h1{
    text-transform: uppercase;
    line-height: 1em;
}
.mainsection{
    margin-left: 10px;
    grid-column: 2/7;
    grid-row:6/-1;
    display:inline-grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:repeat(16, minmax(50px,1fr));
    grid-template-areas: 
                
               
                "c1 c2 c3"
                "c1 c2 c3" 
                 "c1 c2 c3"
                  "c4 c5 c3"
                  "c4 c5 c8"
                  "c4 c5 c8 "
                  "c6 c7 c8 "
                  "c6 c7 c8 "
                  "c6 c7 c8 ";
                
                gap:10px;
              
                margin-bottom: 60px;
}

.c1{background-color: wheat;
        grid-area: c1;
        border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(4,minmax(10px,1fr));
      grid-template-rows: repeat(3,minmax(20px,1fr));
      padding:10px;
}

.c1 .para{
    grid-column: span 4;
   
}
.c1 .icons{
    grid-column: 3/-1;
    grid-row:3;
}

.c2{
    background-color: pink;
    grid-area: c2;
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(4,minmax(10px,1fr));
    grid-template-rows: repeat(3,minmax(20px,1fr));
    padding:10px;   
}
.c2 .para{
    grid-column: span 4;
}
.c2 .icons{
    grid-column: 3/-1;
    grid-row:3;
}

.c3{background-color: orangered;
    grid-area:c3;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
}
.c4{background-color: blue;
    grid-area:c4;
    display: grid;
    grid-template-columns: repeat(4,minmax(10px,1fr));
    grid-template-rows: repeat(3,minmax(20px,1fr));
    padding:10px;
    border-radius: 5px;
}
.c4 .para{
    grid-column: span 4;
}
.c4 .icons{
    grid-column: 3/-1;
    grid-row:3;
}
.c5{background-color: chartreuse;
    grid-area:c5;
    display: grid;
    grid-template-columns: repeat(4,minmax(10px,1fr));
    grid-template-rows: repeat(3,minmax(20px,1fr));
    padding:10px;
    border-radius: 5px;
    
}.c5 .para{
    grid-column: span 4;
}
.c5 .icons{
    grid-column: 3/-1;
    grid-row:3;
}


.c6{background-color: palevioletred;
  grid-area: c6;
  display: grid;
  grid-template-columns: repeat(4,minmax(10px,1fr));
  grid-template-rows: repeat(3,minmax(20px,1fr));
  padding:10px;
  border-radius: 5px;
}
.c6 .para{
    grid-column: span 4;
}
.c6 .icons{
    grid-column: 3/-1;
    grid-row:3;
}
.c7{background-color: orange;
    grid-area:c7;
    display: grid; 
    grid-template-columns: repeat(4,minmax(10px,1fr));
    grid-template-rows: repeat(3,minmax(20px,1fr));
    padding:10px;
    border-radius: 5px;
}
.c7 .para{
    grid-column: span 4;
}
.c7 .icons{
    grid-column: 3/-1;
    grid-row:3;
}
.c8{
    border-radius: 5px;
    background-color: yellow;
    grid-area:c8;
    margin-top:20px;
    display: flex;
    flex-direction: column;
   
}






.trending{
    grid-row:5;
    grid-column: 3/4;
    height:20px;
}


/*\ other css*/


.icons img{
    width:1rem;
    height: 90%;

}
.c1 .para{
margin:bo
}

.icons  {
    display: flex ;
  align-self: end;
  justify-content: space-between;
}

.c3 .para{
border-bottom:solid 1px white;
padding:2px;
align-self: center;

}
.span{
    font-weight: bold;
}

.c8 .para{
    border-bottom:solid 1px white;
    padding:2px;
    align-self: center;
    display: flex;
    margin-bottom: 0;
   
    }
    .span{
        font-weight: bold;
    }
.c8 .para img{
    width: 1rem;
    height: 60%;
}
    
    



